*.exe
*.jpg
*.dll
*.gba
*.spr
*.nlz
*.sav
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9
mother3_linux
*.ups
*.sav
testg.bin
*.sav
test.sav
*.sav
*.sav
*.psd
*.xml
*.db
._sync_d8b906d13577.db
config.ini
CHANGES.txt
library.sqlite3
LICENSE.txt
licenses/blip_buf.txt
licenses/discord-rpc.txt
licenses/ffmpeg.txt
licenses/imagemagick.txt
licenses/inih.txt
licenses/lame.txt
licenses/libelf.txt
licenses/libepoxy.txt
licenses/libvpx.txt
licenses/libzip.txt
licenses/mingw-std-threads.txt
licenses/opus.txt
licenses/qt5.txt
licenses/rapidjson.txt
licenses/sdl2.txt
licenses/x264.txt
licenses/xvid.txt
nointro.dat
nointro.sqlite3
portable.ini
qt.ini
README.html
README_DE.html
*.fs
shaders/*
tools/*
*.bak
test-0.png
test-1.png
publish/Mother3Ger_Youmu_v1.0.bps
publish/Mother3Ger_Youmu_v1.0.zip
