*.exe
*.jpg
*.dll
*.gba
*.spr
*.nlz
*.sav
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9
mother3_linux
*.ups
testg.bin
*.xml
*.db
._sync_d8b906d13577.db
config.ini
CHANGES.txt
library.sqlite3
LICENSE.txt
licenses/blip_buf.txt
licenses/discord-rpc.txt
licenses/ffmpeg.txt
licenses/imagemagick.txt
licenses/inih.txt
licenses/lame.txt
licenses/libelf.txt
licenses/libepoxy.txt
licenses/libvpx.txt
licenses/libzip.txt
licenses/mingw-std-threads.txt
licenses/opus.txt
licenses/qt5.txt
licenses/rapidjson.txt
licenses/sdl2.txt
licenses/x264.txt
licenses/xvid.txt
nointro.dat
nointro.sqlite3
portable.ini
qt.ini
README.html
README_DE.html
*.fs
shaders/*
tools/*
*.bak
*.bps
*.zip
*.7z
out.txt
text_battletext.bin
text_charnames.bin
text_custom_text.bin
text_defaultnames.bin
text_enemydescriptions.bin
text_enemynames.bin
text_enemynames_short.bin
text_itemdescriptions.bin
text_itemnames.bin
text_mapnames.bin
text_menus1.bin
text_menus2.bin
text_menus3.bin
text_miscmenus.bin
text_musicnames.bin
text_pcharnames.bin
text_psidescriptions.bin
text_psinames.bin
text_skilldescriptions.bin
text_sleep.bin
text_special_itemdescriptions.bin
text_specialtext.bin
text_statuses.bin
sound_lookoverthere_eng.bin
sound_readysetgo_a.bin
sound_readysetgo_b.bin
sound_readysetgo_c.bin
