<?xml version="1.0"?>
<M3Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RomDirectory>D:\Mother 3 Translation</RomDirectory>
  <FormParams>
    <item>
      <key>
        <string>MOTHER3Funland.frmLevelExpEditor</string>
      </key>
      <value>
        <FormParams>
          <WindowLoc>
            <X>0</X>
            <Y>0</Y>
          </WindowLoc>
          <WindowSize>
            <Width>280</Width>
            <Height>504</Height>
          </WindowSize>
          <WindowState>Normal</WindowState>
          <ItemIndex>
            <int>0</int>
          </ItemIndex>
        </FormParams>
      </value>
    </item>
    <item>
      <key>
        <string>MOTHER3Funland.frmDontCareNamesEditor</string>
      </key>
      <value>
        <FormParams>
          <WindowLoc>
            <X>130</X>
            <Y>130</Y>
          </WindowLoc>
          <WindowSize>
            <Width>286</Width>
            <Height>301</Height>
          </WindowSize>
          <WindowState>Normal</WindowState>
        </FormParams>
      </value>
    </item>
  </FormParams>
  <MainFormParams>
    <WindowLoc>
      <X>0</X>
      <Y>0</Y>
    </WindowLoc>
    <WindowSize>
      <Width>325</Width>
      <Height>512</Height>
    </WindowSize>
    <WindowState>Normal</WindowState>
  </MainFormParams>
  <GfxImportSettings>
    <GfxFormParams>
      <WindowLoc>
        <X>0</X>
        <Y>0</Y>
      </WindowLoc>
      <WindowSize>
        <Width>0</Width>
        <Height>0</Height>
      </WindowSize>
      <WindowState>Normal</WindowState>
    </GfxFormParams>
    <UseTileset>false</UseTileset>
    <UseFlips>false</UseFlips>
    <UsePalette>false</UsePalette>
    <UseTransparency>false</UseTransparency>
    <TransparentColorS>0, 0, 0, 0</TransparentColorS>
  </GfxImportSettings>
</M3Settings>