<?xml version="1.0"?>
<M3Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RomDirectory>D:\Mother 3 Translation</RomDirectory>
  <FormParams>
    <item>
      <key>
        <string>MOTHER3Funland.frmCompression</string>
      </key>
      <value>
        <FormParams>
          <WindowLoc>
            <X>0</X>
            <Y>0</Y>
          </WindowLoc>
          <WindowSize>
            <Width>212</Width>
            <Height>100</Height>
          </WindowSize>
          <WindowState>Normal</WindowState>
          <ItemIndex>
            <int>-1</int>
          </ItemIndex>
        </FormParams>
      </value>
    </item>
    <item>
      <key>
        <string>MOTHER3Funland.frmLevelExpEditor</string>
      </key>
      <value>
        <FormParams>
          <WindowLoc>
            <X>0</X>
            <Y>0</Y>
          </WindowLoc>
          <WindowSize>
            <Width>280</Width>
            <Height>504</Height>
          </WindowSize>
          <WindowState>Normal</WindowState>
          <ItemIndex>
            <int>1</int>
          </ItemIndex>
        </FormParams>
      </value>
    </item>
    <item>
      <key>
        <string>MOTHER3Funland.frmItemEditor</string>
      </key>
      <value>
        <FormParams>
          <WindowLoc>
            <X>0</X>
            <Y>0</Y>
          </WindowLoc>
          <WindowSize>
            <Width>450</Width>
            <Height>501</Height>
          </WindowSize>
          <WindowState>Normal</WindowState>
          <ItemIndex>
            <int>0</int>
          </ItemIndex>
        </FormParams>
      </value>
    </item>
    <item>
      <key>
        <string>MOTHER3Funland.frmMainTextViewer</string>
      </key>
      <value>
        <FormParams>
          <WindowLoc>
            <X>0</X>
            <Y>0</Y>
          </WindowLoc>
          <WindowSize>
            <Width>500</Width>
            <Height>476</Height>
          </WindowSize>
          <WindowState>Normal</WindowState>
          <ItemIndex>
            <int>973</int>
            <int>-1</int>
          </ItemIndex>
        </FormParams>
      </value>
    </item>
    <item>
      <key>
        <string>MOTHER3Funland.frmTownMapEditor</string>
      </key>
      <value>
        <FormParams>
          <WindowLoc>
            <X>156</X>
            <Y>156</Y>
          </WindowLoc>
          <WindowSize>
            <Width>687</Width>
            <Height>711</Height>
          </WindowSize>
          <WindowState>Normal</WindowState>
          <ItemIndex>
            <int>0</int>
            <int>0</int>
            <int>0</int>
            <int>483</int>
            <int>473</int>
            <int>1</int>
            <int>2</int>
            <int>1</int>
            <int>4</int>
            <int>1</int>
            <int>8</int>
          </ItemIndex>
        </FormParams>
      </value>
    </item>
    <item>
      <key>
        <string>MOTHER3Funland.frmLogoEditor</string>
      </key>
      <value>
        <FormParams>
          <WindowLoc>
            <X>156</X>
            <Y>156</Y>
          </WindowLoc>
          <WindowSize>
            <Width>927</Width>
            <Height>645</Height>
          </WindowSize>
          <WindowState>Normal</WindowState>
        </FormParams>
      </value>
    </item>
    <item>
      <key>
        <string>MOTHER3Funland.frmLevelPsiEditor</string>
      </key>
      <value>
        <FormParams>
          <WindowLoc>
            <X>0</X>
            <Y>0</Y>
          </WindowLoc>
          <WindowSize>
            <Width>290</Width>
            <Height>187</Height>
          </WindowSize>
          <WindowState>Normal</WindowState>
          <ItemIndex>
            <int>1</int>
            <int>0</int>
          </ItemIndex>
        </FormParams>
      </value>
    </item>
    <item>
      <key>
        <string>MOTHER3Funland.frmEnemyEditor</string>
      </key>
      <value>
        <FormParams>
          <WindowLoc>
            <X>0</X>
            <Y>0</Y>
          </WindowLoc>
          <WindowSize>
            <Width>711</Width>
            <Height>642</Height>
          </WindowSize>
          <WindowState>Normal</WindowState>
          <ItemIndex>
            <int>0</int>
          </ItemIndex>
        </FormParams>
      </value>
    </item>
  </FormParams>
  <MainFormParams>
    <WindowLoc>
      <X>-32000</X>
      <Y>-32000</Y>
    </WindowLoc>
    <WindowSize>
      <Width>160</Width>
      <Height>39</Height>
    </WindowSize>
    <WindowState>Minimized</WindowState>
  </MainFormParams>
  <GfxImportSettings>
    <GfxFormParams>
      <WindowLoc>
        <X>0</X>
        <Y>0</Y>
      </WindowLoc>
      <WindowSize>
        <Width>0</Width>
        <Height>0</Height>
      </WindowSize>
      <WindowState>Normal</WindowState>
    </GfxFormParams>
    <UseTileset>false</UseTileset>
    <UseFlips>false</UseFlips>
    <UsePalette>false</UsePalette>
    <UseTransparency>false</UseTransparency>
    <TransparentColorS>0, 0, 0, 0</TransparentColorS>
  </GfxImportSettings>
</M3Settings>